* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

.logo {
  width: 6rem;
  height: fit-content;
  cursor: pointer;
}

.left-bar-icon {
  border-right: 2px solid rgb(148, 146, 146);
  padding-right: 1rem;
}

#navbar {
  width: 100vw;
  /* height: 6rem; */
  padding: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar .nav-container {
  display: flex;
  align-items: center;
  width: 1024px;
}

#navbar .nav-container .logo-container {
  flex-grow: 1;
}

#navbar .nav-container .nav-items {
  display: flex;
  text-decoration: none;
  gap: 1rem;
}

#navbar .nav-container .nav-items .nav-item {
  font-weight: bold;
  transition: all 300ms ease;
  color: white;
  font-size: 0.8rem;
}

#navbar .nav-container .nav-items .nav-item:hover {
  color: rgb(216, 215, 215);
}

#main {
  width: 100%;
  height: 100vh;
  background: url(img/showcase.webp);
  background-repeat:no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 0.7rem;
}

.principal-text {
  font-weight: bold;
  font-size: 3rem;
  color: white;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitle-text {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  
}

.sptf-btn {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 1rem 3rem;
  background-color: rgb(27,206,92);
  border-radius: 3rem;
  transition: all 300ms ease;
  border: none;
}

.sptf-btn:hover {
  background-color: rgb(12, 180, 74);
  cursor: pointer;
}



#footer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 3rem 0;
}

#footer .footer-links {
  width: 1024px;
  display: flex;
  justify-content: start;
  margin: 3rem 0;
}

#footer .footer-links .footer-link-list {
  margin: 0 3rem;
}

#footer .footer-links .footer-link-list .footer-link-title {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(136, 124, 124);
  font-size: 0.9rem;
}

#footer .footer-links .footer-link-list .footer-link-items {
  margin: 0.5rem 0;
}

#footer .footer-links .footer-link-list .footer-link-items .footer-link-item {
  font-size: 0.9rem;
  color: white;
  margin: 0.8rem 0;
  cursor: pointer;
  transition: all 300ms ease;
}

#footer .footer-links .footer-link-list .footer-link-items .footer-link-item:hover {
  color: rgb(216, 215, 215);
}

#footer .footer-links .footer-social_media {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.1);
}

/* height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgb(59, 61, 61); */

#footer .about {
  width: 1024px;
  display: flex;
}

#footer .about .footer-about-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#footer .about .footer-about-links .footer-about-link {
  font-size: .8rem;
  color: rgb(136, 124, 124);
  cursor: pointer;
}



#footer .about .copyright {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

#footer .about .copyright .copyright-text {
  font-size: .8rem;
  color: rgb(136, 124, 124);
}

.brazil {
  display: flex;
  gap: 0.4rem;
  cursor: pointer;
}
.brazil p {
  color: white;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brazil-logo {
  width: 1.6rem;
}



@media only screen and (max-width: 600px) {
  
}